@model List<ChatApplication.Models.ChatViewModel>;


@{ ViewData["Title"] = $"Chats"; }

@section Styles{
    <link rel="stylesheet" href="~/css/index.css">
}

@section Scripts{
    <script src="~/js/index.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>

    <script src="~/js/textareaAutosize.js"></script>
}
<style>

    #SearchList li {
        float: left;
        padding-left: 15px;
        margin: 10px;
        width: 90%;
        
        height: 42px;
        border: none;
        background-color: #eceff1;
       
    }


</style>

<div class="wrapper">

    <div class="left" style="margin:auto">

        <div id="titleDiv">
            <span class="title" style="float: left;margin-left: 20px">@User.Identity.Name </span>

            <button name="LOGOUT" onclick="location.href='@Url.Action("Logout","Account")'" style="background-color:transparent;border:0;float:right;margin-top:16px"> LOGOUT </button>
        </div>


        <div class="top">

            <input onkeyup="GetInviteUsers()" type="text" id="invitesearch" placeholder="test" />

            <ul id="SearchList" style="list-style-type:none">
            </ul>

            @*<input type="text" id="invitesearch" placeholder="test" />*@



        </div>
        <div id ="divid"class="top">
            <input type="text" id="txtSearch" placeholder="Search" />
        </div>


        <div id="divid1"class="top">
            <ul class="people" id="searchGridView">

                @foreach (var c in Model)
                {
                    
                    <li class="person" onclick="loadChat(this,'@c.RecipientName')">
                        <img src="~/images/avatar.png" alt="" />
                        <span class="name">@c.RecipientName</span>
                        <span class="time">@c.LastMessage?.Timestamp.ToShortTimeString()</span>
                        <span class="preview">@c.LastMessage?.Text</span>
                    </li>
                }

            </ul>
        </div>



    </div>

    <div class="right">
        <div id="select-chat-div">
            <p>Select a recepient...</p>
        </div>
        @foreach (var c in Model)
        {
            <div class="chat-wrapper" data-recipient="@c.RecipientName">
                <div id="titleDiv">
                    <span class="title">@c.RecipientName <i class="fas fa-circle" style="color:limegreen"></i></span>
                </div>

                <div class="chat">
                    @{ List<Message> messages = new();
                        messages.AddRange(c.MyMessages);
                        messages.AddRange(c.OtherMessages);
                        foreach (var m in messages.OrderBy(x => x.Timestamp))
                        {
                            if (c.MyMessages.Contains(m))
                            {
                                <div class="bubble me">
                                    <span class="message-text">@m.Text</span>
                                    <span class="message-time">@m.Timestamp.ToShortTimeString()</span>
                                </div> }
                            else
                            {
                                <div class="bubble other">
                                    <span class="message-text">@m.Text</span>
                                    <span class="message-time">@m.Timestamp.ToShortTimeString()</span>
                                </div> }
                        } }
                </div>

                <div id="writeDiv">
                    <div class="write">
                        <i class="fas fa-paperclip"></i>
                        <input type="hidden" id="myUsername" value="@User.Identity.Name" />
                        <textarea id="message-text" placeholder="Write a message..."></textarea>
                        <i class="far fa-smile"></i>
                        <button id="btn-send" onclick="sendMessage('@c.RecipientName')">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>}
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script language="javascript" type="text/javascript">
    $.expr[":"].containsNoCase = function (el, i, m) {
        var search = m[3];
        if (!search) return false;
        return eval("/" + search + "/i").test($(el).text());
    };

    $(document).ready(function () {
        $('#txtSearch').keyup(function () {
            if ($('#txtSearch').val().length > 0) {
                $('#searchGridView li').hide();
                // $('#searchGridView li:first').show();
                $('#searchGridView li span.name:contains(\'' + $('#txtSearch').val() + '\')').parent().show();
            }
            else if ($('#txtSearch').val().length == 0) {

                $('#searchGridView li').show();

            }


        });

        $('#txtSearch').keyup(function (event) {
            if (event.keyCode == 27) {
                resetSearchValue();
            }
        });
    });

    function resetSearchValue() {
        $('#txtSearch').val('');
        $('#searchGridView tr').show();
        $('.norecords').remove();
        $('#txtSearch').focus();
    }

    $("#button2").click(function () {
        $("#success").show();

    });
</script>

<script type="text/javascript">
  
    function GetInviteUsers() {
        
        var Search = $.trim($("#invitesearch").val());
        var UserInvite = {
            Search: Search,
        };
        $.ajax({
            type: 'POST',
            dataType: 'json',
            cache: false,
            url: '/Home/GetInviteUser',
            data: UserInvite,

            success: function (users) {
               
                var HTML=''
                $.each(users, function (i, user) {
                    HTML += ` <li class="person" onclick="loadchat(this,'${user.userName}')">
                    <img src="~/images/avatar.png" alt="" />
                    <span class="name">${user.userName}</span>
                </li>`
                   

                });
                $('#SearchList').html(HTML)
                $('#divid').hide();
                $('#divid1').hide();

                if (Search == '') {
                $('#divid').show();
                    $('#divid1').show();
                }
            }
        });
    }
</script>